@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #0b192e;
}

@layer base {
    :root {
        --color-secondary: rgba(29, 78, 216, 0.15);
    }
}

@layer components {
    .svgpathryno {
        stroke-dasharray: 300;
        stroke-dashoffset: 300;
        animation: dash 15s forwards;
    }
    .svggryno {
        animation: fill-in 10s 4s forwards;
        fill-opacity: 0;
    }

    .svgpath {
        stroke-dasharray: 200;
        stroke-dashoffset: 200;
        animation: dash 15s forwards;
        height: 25px;
        width: 25px;
    }

    .svgg {
        animation: fill-in 2s 4s forwards;
        fill-opacity: 0;
    }

    @keyframes dash {
        to {
            stroke-dashoffset: 0;
        }
    }

    @keyframes fill-in {
        to {
            fill-opacity: 1;
        }
    }

    .itemslide {
        animation: 55s slide infinite linear;
    }

    .itemslidedown {
        animation: 55s slidedown infinite linear;
    }

    .delay-2 {
        animation-delay: -2s;
    }

    .animationpaused {
        animation-play-state: paused;
    }

    @keyframes slide {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(-100%);
        }
    }

    @keyframes slidedown {
        from {
            transform: translateY(-100%);
        }
        to {
            transform: translateY(0);
        }
    }

    .translate {
        translate: -50% -50%;
    }

    .radial-gradient {
        position: fixed;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;

        /*Fallback if gradeints don't work */
        background: #9b59b6;
        /*Linear gradient... */
        background: radial-gradient(
            circle farthest-side at var(--x, 100px) var(--y, 100px),
            #3498db,
            #9b59b6
        );
    }

    .bannerMain {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        text-align: center;
    }

    .bannerSlider {
        position: absolute;
        width: 200px;
        height: 250px;
        top: 10%;
        left: calc(50% - 100px);
        transform-style: preserve-3d;
        /*this is the length of the z axis in 3d space*/
        transform: perspective(1000px);
    }

    .bannerItem {
        position: absolute;
        inset: 0 0 0 0;
        transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
            translateZ(550px);
    }

    .rotateItem1 {
        transform: rotateY(180deg);
    }
}
