@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-[#22577A];
}

@layer components {
    .svgpath {
        stroke-dasharray: 200;
        stroke-dashoffset: 200;
        animation: dash 15s forwards;
        height: 25px;
        width: 25px;
    }

    .svgg {
        animation: fill-in 2s 4s forwards;
        fill-opacity: 0;
    }

    @keyframes dash {
        to {
            stroke-dashoffset: 0;
        }
    }

    @keyframes fill-in {
        to {
            fill-opacity: 1;
        }
    }

    .itemslide {
        animation: 35s slide infinite linear;
    }

    .itemslidedown {
        animation: 35s slidedown infinite linear;
    }

    .delay-2 {
        animation-delay: -2s;
    }

    .animationpaused {
        animation-play-state: paused;
    }

    @keyframes slide {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(-100%);
        }
    }

    @keyframes slidedown {
        from {
            transform: translateY(-100%);
        }
        to {
            transform: translateY(0);
        }
    }
}
